#main-card{
  background-color: rgba(238, 236, 236, 0.329);
  display: flex; flex-direction: column;
  width: 100%; align-items: center;
   height: fit-content;

   #top{
    display: flex; flex-direction: row;
    width: 100%; font-family: 'Roboto Condensed';
    justify-content: space-around; font-size: 18px;
    padding: 10px 0px 10px 0px; margin: 5px 0px 0px 0px;

      #img-button{
        border: none; padding: 0; display: flex;
        flex-direction: row; justify-content: stretch;
        width: 5rem; height: 5rem; border-radius: 50%; 
        background: none; box-shadow: 0 0 5px 0 gray;
        
        #card-avi{
          border-radius: 50%; height: 5rem; width: 5rem;
          background-position: center; background-size: cover;
        }
        &:hover{
          cursor: pointer;
        }
      }
      #write-area{
        width: 75%; font-family: 'Roboto';
        height: fit-content; font-size: 20px; font-weight: 600;
      }
      #quil-image{
        height: 10%; width: 100%;
        margin-top: 1rem; object-fit: fill;
      }
      #quil-video{
        height: 10%; width: 100%;
        margin-top: 1rem; object-fit: fill;
      }
      .icon-button{
        width: fit-content; height: fit-content;
        background: none; border: none;
        
      }.icon-button:hover{
          cursor: pointer; color: rgb(0, 122, 0);
      }
  }

  #bottom{
    display: flex; flex-direction: row;
    width: 100%; font-family: 'Roboto';
    justify-content: space-between;
    padding: 10px 0px 10px 0px;

      #userhandle{
        width: fit-content; background-color: rgb(255, 253, 253);
        margin: 0px 0px 0px 10px; padding: 5px 10px 0px 6px;
        border-width: 1px; border-style: solid; border-color: black;
        border-radius: 6px; height: 1.5rem;
        }
      #card-extras{
          width: 45%; background-color: rgb(255, 253, 253);
          margin-right: 10px; border-radius: 6px;
          padding: 3px; height: 1.5rem;
          border-width: 1px; border-style: solid; border-color: black;
          display: flex; flex-direction: row; align-items: center; overflow: hidden;
          justify-content: space-between;
          #card-extras-buttons{
            display: flex; flex-direction: row;
            align-items: center; gap: 10px;
          }
          span{
            margin-right: 10px;
          }
      }
      [type = button]{
        background: none; border: none; 
        width: 2rem; height: 2rem;
        &:hover{
          cursor: pointer;
        }
      }
  }
}
#popup-delete{
  height: 2rem; width: 8rem; font-size: 17px;
  font-family: 'Roboto condensed'; 
  background: white; border-radius: 3px;
}
#popup-delete:hover{
  cursor: pointer; color: red; font-weight: bold;
  border-color: red;
}


@media (max-width: 850px){
  #main-card{
    background-color: rgba(238, 236, 236, 0.329);
    display: flex; flex-direction: column;
    width: 100%; align-items: center;
     height: fit-content;
  
     #top{
      display: flex; flex-direction: row;
      width: 100%; font-family: 'Roboto Condensed';
      justify-content: space-around; gap: 10px;
      padding: 5px 0px 5px 5px; margin: 0px;
  
        #img-button{
          border: none; padding: 0; display: flex;
          flex-direction: row; justify-content: stretch;
          width: 3rem; height: 3rem; border-radius: 50%; 
          background: none; 
          
          #card-avi{
            border-radius: 50%; height: 3rem; width: 3rem;
            border-width: 1px; border-style: solid; border-color: black;
            background-position: center; background-size: cover;
          }
          &:hover{
            cursor: pointer;
          }
        }
        #write-area{
          width: 75%; font-family: 'Roboto';
          height: fit-content; font-size: 15px; font-weight: 600;
        }
        #quil-image{
          margin-top: 0.5rem; object-fit: fill;
        }
        #quil-video{
          margin-top: 0.5rem; object-fit: fill;
        }
        .icon-button{
          width: fit-content; height: fit-content;
          background: none; border: none;
        }.icon-button:hover{
            cursor: pointer; color: rgb(0, 122, 0);
        }
    }
    #bottom{
      display: flex; flex-direction: row;
      width: 100%; font-family: 'Roboto';
      justify-content: space-between;
      padding: 10px 0px 10px 0px;
  
        #userhandle{
          width: fit-content; background-color: rgb(255, 253, 253);
          margin: 0px; padding: 2px; font-size: 13px;
          border-width: 1px; border-style: solid; border-color: black;
          border-radius: 4px; height: fit-content;
          }
        #card-extras{
            width: 35%; background-color: rgb(255, 253, 253);
            margin-right: 2px; border-radius: 4px;
            padding: 2px; height: 1rem;
            border: 1px solid black;
            display: flex; flex-direction: row; align-items: center; 
            overflow: hidden;
            justify-content: space-between;
            #card-extras-buttons{
              display: flex; flex-direction: row;
              align-items: center; gap: 19px;
              p{
                font-size: 14px;
              }
            }
            span{
              margin-right: 10px;
              opacity: 0;
            }
        }
        [type = button]{
          background: none; border: none; 
          width: 1rem; height: 2rem;
          &:hover{
            cursor: pointer;
          }
        }
    }
  }

  #popup-delete{
    height: 2rem; width: 5rem; font-size: 13px;
    font-family: 'Roboto condensed'; border-radius: 0px;
    background: white;
  }
  #popup-delete:hover{
    cursor: pointer; color: red; font-weight: bold;
  }
}

@media (max-width: 458px){
  #main-card{
      margin: 0 !important;
      #img-button{
        border: none; padding: 0; display: flex;
        flex-direction: row; justify-content: stretch;
        width: 2rem !important; height: 2rem !important; border-radius: 50%; 
        background: none; 
      }
      #card-avi{
        border-radius: 50%; height: 2rem !important; width: 2rem !important;
        border-width: 1px; border-style: solid; border-color: black;
        background-position: center; background-size: cover;
      }
      #write-area{
        font-size: 10px !important;
      }
      #quil-image{
        margin-top: 0.2rem !important; object-fit: fill;
        width: 100% !important;
      }
      #quil-video{
        margin-top: 0.2rem !important; object-fit: fill;
      }
      #card-extras{
        width: 50% !important;
      }
      #card-extras-buttons{
        display: flex; flex-direction: row;
        align-items: center; gap: 1px;
        justify-content: space-around;
        padding-left: 0; margin-left: -0.2rem;
        width: 90% !important;
      }
    }
}