@import '../variables/variable.scss';

#main-video{
  display: flex; flex-direction: column;
  position: fixed; width: 100%; height: 100%;
  align-items: center; overflow: hidden;

      #lower-half-others{
        height: 90%; width: 100%;
        display: flex; flex-direction: column;
        align-items: center;
        
        #middle-pane{
          @include middlePane;
          width: 60%; margin-bottom: 1rem;
          padding-bottom: 1rem
        }
        
      }
    };

    @media (max-width: 850px) {
      #main-video{
        display: flex; flex-direction: column;
        position: fixed; width: 100%; height: 100%;
        align-items: center; overflow: hidden;
      
            #lower-half-others{
              height: 100%; width: 100%;
              display: flex; flex-direction: column;
              align-items: center;
              
              #middle-pane{
                @include middlePane;
                width: 90%; margin-left: 1.5rem;
              }
              
            }
        };
    }
    @media (max-width: 458px) {
      #main-video{
        display: flex; flex-direction: column;
        position: fixed; width: 100%; height: 100%;
        align-items: center; overflow: hidden;
        };
    }