#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
}
#main #header {
  display: flex;
  flex-direction: row;
  padding: 1rem 0rem 1rem 0rem;
  height: 7%;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 2px #d4d3d3;
  padding-bottom: 10px;
}
#main #header #nav-bar {
  padding-right: 2rem;
}
#main #header #header-logo {
  padding-left: 2rem;
  height: 3rem;
}
#main #header .signOut {
  width: 50%;
  font-family: "Roboto Condensed";
  margin: 6px 0px 10px 0px;
  font-size: 18px;
  border-color: white;
  color: white;
  background-color: black;
  border-radius: 6px;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 5rem;
  background: none;
  color: black;
  border: none;
  border-radius: 3px;
}
#main #header .signOut:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-color: black;
}
#main #header .signOut:hover {
  color: red;
  outline: 1px solid red;
}
#main #body {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0rem;
  height: 86%;
}
#main #body #left-pane {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  margin-left: 15px;
  margin-top: -0.5rem;
}
#main #body #left-pane #left-pane-items {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 2px #d4d3d3;
  width: 95%;
  margin-top: 1rem;
  border-radius: 10px;
  gap: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 12%;
}
#main #body #left-pane #left-pane-items #user-avi {
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-position: center;
}
#main #body #left-pane #left-pane-items #left-item-one {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 5px;
  margin-left: 5px;
  height: 2rem;
  padding: 2px 0 2px 1rem;
  border-radius: 4px;
  margin-top: -1rem;
}
#main #body #left-pane #left-pane-items #left-item-two {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  gap: 3rem;
  margin-top: -1rem;
}
#main #body #left-pane #left-pane-items #left-item-two span {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 5px;
  margin-left: 5px;
  height: 0px;
  margin-top: 7px;
}
#main #body #left-pane #left-pane-items #left-item-three {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: 7px;
}
#main #body #left-pane #left-pane-items #left-item-three span {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: flex-start;
  gap: 7px;
  margin-left: 5px;
  height: 0px;
}
#main #body #middle-pane {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden scroll;
  margin: 0.5rem 20px 0px 5px;
  height: 100%;
  padding: 10px 0px 0 0px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 2px #d4d3d3;
  border-radius: 1px;
}
#main #body #middle-pane::-webkit-scrollbar {
  width: 0.4rem;
  background-color: white;
  opacity: 50%;
  border-radius: 6px;
}
#main #body #middle-pane::-webkit-scrollbar-track {
  border-radius: 6px;
}
#main #body #middle-pane::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1rem;
  border-radius: 6px;
}
#main #body #middle-pane #card-border {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
#main #body #middle-pane::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.342);
  outline: 1rem;
  border-radius: 6px;
}
#main #body #right-pane {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
  align-items: center;
}
#main #body #right-pane #write {
  height: 8rem;
  width: 90%;
  font-family: "Roboto";
  font-size: 18px;
  margin-right: 1rem;
  border-radius: 5px;
  resize: none;
  transition: ease 0.5s;
  position: relative;
}
#main #body #right-pane #write:focus {
  font-weight: bold;
}
#main #body #right-pane #menu-items {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #d4d3d3;
  margin: 3% 0 0 0;
  gap: 10px;
  padding: 10px;
  transition: ease 0.5s;
  position: relative;
}
#main #body #right-pane .menu-buttons {
  height: 2rem;
  width: 13.5rem;
  border-radius: 15px;
  font-family: "Roboto";
  font-size: 18px;
  border-color: black;
  background-color: black;
  color: white;
}
#main #body #right-pane .menu-buttons:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border-color: black;
  font-weight: bold;
}
#main #body #right-pane #icon-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  width: 96%;
  justify-content: space-between;
  outline: 1px solid black;
  border-radius: 3px;
  margin-right: 0.7rem;
  transition: ease 0.5s;
  position: relative;
}
#main #body #right-pane .send {
  width: 50%;
  font-family: "Roboto Condensed";
  margin: 6px 0px 10px 0px;
  font-size: 18px;
  border-color: white;
  color: white;
  background-color: black;
  border-radius: 6px;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}
#main #body #right-pane .send:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-color: black;
}
#main #body #right-pane .send:hover {
  cursor: pointer;
}
#main #body #right-pane .send:focus {
  outline: none;
}
#main #body #right-pane .icon-buttons {
  border: none;
  background-color: inherit;
  width: 1.2rem;
  margin-right: 7px;
}
#main #body #right-pane .icon-buttons:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#main #body #right-pane .icon-buttons:focus {
  outline: none;
}
#main #body #right-pane #icon-group {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

h4 {
  text-decoration: none;
  font-size: x-large;
  font-family: "Roboto condensed";
  font-weight: 500;
}

#upload-quil {
  background-color: white;
  width: 15rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 5px 1px silver;
  padding: 15px 10px 0 10px;
  border-radius: 6px;
}
#upload-quil .caption {
  width: 98%;
  resize: none;
  font-family: "Roboto";
  font-weight: bold;
  height: 4rem;
  font-size: 15px;
}
#upload-quil .upload-button {
  width: 10rem;
  color: white;
  background-color: black;
  border: transparent;
  border-radius: 6px;
  height: 1.7rem;
}
#upload-quil .upload-button:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}
#upload-quil .change-avi {
  font-family: "Roboto Condensed";
  font-size: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#upload-quil .change-avi:hover {
  cursor: pointer;
}

@media (max-width: 850px) {
  #main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  #main #header {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem 1rem 0rem;
    height: 5%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    padding-bottom: 10px;
  }
  #main #header #nav-bar {
    padding-right: 1rem;
  }
  #main #header #header-logo {
    padding-left: 1rem;
    height: 2rem;
  }
  #main #header .signOut {
    width: 50%;
    font-family: "Roboto Condensed";
    margin: 6px 0px 10px 0px;
    font-size: 18px;
    border-color: white;
    color: white;
    background-color: black;
    border-radius: 6px;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 0rem;
    background: none;
    color: black;
    border: none;
  }
  #main #header .signOut:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-color: black;
  }
  #main #header .signOut:hover {
    color: red;
    outline: 1px solid red;
  }
  #main #header:hover .signOut {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    opacity: 100%;
  }
  #main #body {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #main #body #left-pane {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
    margin-top: -0.5rem;
  }
  #main #body #left-pane #left-pane-items {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    width: 2.5rem;
    margin-top: 1rem;
    border-radius: 6px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    padding: 5px 0 0 12px;
    align-items: center;
    padding-bottom: 1.5rem;
  }
  #main #body #left-pane #left-pane-items #user-avi {
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left: -0.8rem;
  }
  #main #body #left-pane #left-pane-items #left-item-one {
    display: flex;
    align-items: center;
    width: 0;
    padding: 2px 0 2px 1rem;
    background-color: white;
    border-radius: 4px;
    margin-top: -2rem;
    height: 0;
  }
  #main #body #left-pane #left-pane-items #left-item-one h4 {
    height: 0;
    width: 0;
    opacity: 0;
  }
  #main #body #left-pane #left-pane-items #left-item-two {
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
    gap: 2rem;
  }
  #main #body #left-pane #left-pane-items #left-item-two span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -0.5rem;
  }
  #main #body #left-pane #left-pane-items #left-item-two span h4 {
    font-size: 22px;
  }
  #main #body #left-pane #left-pane-items #left-item-three {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 7px;
  }
  #main #body #left-pane #left-pane-items #left-item-three span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    margin-left: -0.35rem;
  }
  #main #body #left-pane #left-pane-items #left-item-three span h4 {
    font-size: 20px;
  }
  #main #body #middle-pane {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden scroll;
    margin: 0.5rem 20px 0px 5px;
    height: 100%;
    padding: 10px 0px 0 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    margin-left: 0.7rem;
    width: 100%;
    border-radius: 1px;
  }
  #main #body #middle-pane::-webkit-scrollbar {
    width: 0.4rem;
    background-color: white;
    opacity: 50%;
    border-radius: 6px;
  }
  #main #body #middle-pane::-webkit-scrollbar-track {
    border-radius: 6px;
  }
  #main #body #middle-pane::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1rem;
    border-radius: 6px;
  }
  #main #body #middle-pane #card-border {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  #main #body #middle-pane::-webkit-scrollbar {
    width: 0.3rem;
    background-color: white;
    opacity: 50%;
    border-radius: 6px;
  }
  #main #body #middle-pane::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.075);
    outline: 1rem;
    border-radius: 6px;
  }
  #main #body #right-pane {
    width: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0rem;
    align-items: flex-end;
  }
  #main #body #right-pane #menu-items {
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 0rem;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    margin: 0.5rem 0.5rem 0px 0px;
    gap: 10px;
    background-color: white;
    overflow: hidden;
    border: 2px solid black;
  }
  #main #body #right-pane #menu-items:hover {
    width: 15rem !important;
    position: relative;
    background-color: white;
  }
  #main #body #right-pane #menu-items:hover .menu-buttons {
    width: 70% !important;
    color: white;
    transform: translateX(-1.5rem);
  }
  #main #body #right-pane #menu-items:focus {
    width: 15rem !important;
    position: relative;
    background-color: white;
  }
  #main #body #right-pane #menu-items:focus .menu-buttons {
    width: 70% !important;
    color: white;
    transform: translateX(2rem);
  }
  #main #body #right-pane .menu-buttons {
    height: 2rem;
    width: 0rem;
    border-radius: 15px;
    font-family: "Roboto";
    font-size: 18px;
    border-color: black;
    overflow: hidden;
    background-color: black;
    color: black;
    padding: 0px;
    transform: translateX(-3rem);
  }
  #main #body #right-pane .menu-buttons:hover {
    cursor: pointer;
    background-color: white;
    color: black !important;
    border-color: black;
    font-weight: bold;
  }
  #main #body #right-pane #write {
    height: 10rem;
    width: 0.7rem;
    font-family: "Roboto";
    font-size: 18px;
    margin-right: 0.5rem;
    overflow: hidden;
    border-radius: 5px;
    resize: none;
    border: 2px solid black;
    background-color: white;
    margin-top: 8rem;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
  }
  #main #body #right-pane #write::-moz-placeholder {
    opacity: 0;
  }
  #main #body #right-pane #write:-ms-input-placeholder {
    opacity: 0;
  }
  #main #body #right-pane #write::placeholder {
    opacity: 0;
  }
  #main #body #right-pane #write:focus {
    font-weight: bold;
    width: 15rem;
    position: relative;
    background-color: white;
  }
  #main #body #right-pane #write:focus::-moz-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:focus:-ms-input-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:focus::placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:hover {
    width: 15rem;
    background-color: white;
    position: relative;
  }
  #main #body #right-pane #write:hover::-moz-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:hover:-ms-input-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:hover::placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    width: 1rem;
    justify-content: space-between;
    outline: 2px solid black;
    border-radius: 3px;
    margin-right: 0.6rem;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
  }
  #main #body #right-pane #icon-buttons:hover {
    gap: 5px;
    width: 15.4rem;
    justify-content: space-between;
    position: relative;
    background-color: white;
    border-color: black;
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:hover .send {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:hover #icon-group {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:focus {
    gap: 5px;
    width: 15.4rem;
    justify-content: space-between;
    position: relative;
    background-color: white;
    border-color: black;
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:focus .send {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:focus #icon-group {
    opacity: 100%;
  }
  #main #body #right-pane .send {
    width: 50%;
    font-family: "Roboto Condensed";
    margin: 6px 0px 10px 0px;
    font-size: 18px;
    border-color: white;
    color: white;
    background-color: black;
    border-radius: 6px;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    opacity: 0;
  }
  #main #body #right-pane .send:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-color: black;
  }
  #main #body #right-pane .send:hover {
    cursor: pointer;
  }
  #main #body #right-pane .send:focus {
    outline: none;
  }
  #main #body #right-pane .icon-buttons {
    border: none;
    background-color: inherit;
    width: 1.2rem;
    margin-right: 7px;
  }
  #main #body #right-pane .icon-buttons:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  #main #body #right-pane .icon-buttons:focus {
    outline: none;
  }
  #main #body #right-pane #icon-group {
    display: flex;
    flex-direction: row;
    gap: 2px;
    opacity: 0;
  }
}
@media (max-width: 458px) {
  #main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  #main #header {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem 1rem 0rem;
    height: 5%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    padding-bottom: 10px;
  }
  #main #header #nav-bar {
    padding-right: 1rem;
  }
  #main #header #header-logo {
    padding-left: 1rem;
    height: 2rem;
  }
  #main #header .signOut {
    width: 50%;
    font-family: "Roboto Condensed";
    margin: 6px 0px 10px 0px;
    font-size: 18px;
    border-color: white;
    color: white;
    background-color: black;
    border-radius: 6px;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 0rem;
    background: none;
    color: black;
    border: none;
  }
  #main #header .signOut:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-color: black;
  }
  #main #header .signOut:hover {
    color: red;
    outline: 1px solid red;
  }
  #main #header:hover .signOut {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    opacity: 100%;
  }
  #main #body {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #main #body #left-pane {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: -0.5rem;
  }
  #main #body #left-pane #left-pane-items {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    width: 70%;
    margin-top: 1rem;
    border-radius: 3px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
  }
  #main #body #left-pane #left-pane-items #user-avi {
    width: 2.7rem;
    height: 2.5rem;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
  }
  #main #body #left-pane #left-pane-items #left-item-one {
    display: flex;
    align-items: center;
    width: 0;
    padding: 2px 0 2px 1rem;
    background-color: white;
    border-radius: 4px;
    margin-top: -2rem;
    height: 0;
  }
  #main #body #left-pane #left-pane-items #left-item-one h4 {
    height: 0;
    width: 0;
    opacity: 0;
  }
  #main #body #left-pane #left-pane-items #left-item-two {
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
    gap: 2rem;
  }
  #main #body #left-pane #left-pane-items #left-item-two span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -0.5rem;
  }
  #main #body #left-pane #left-pane-items #left-item-two span h4 {
    font-size: 22px;
  }
  #main #body #left-pane #left-pane-items #left-item-three {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 7px;
  }
  #main #body #left-pane #left-pane-items #left-item-three span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    margin-left: -0.35rem;
  }
  #main #body #left-pane #left-pane-items #left-item-three span h4 {
    font-size: 20px;
  }
  #main #body #middle-pane {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden scroll;
    margin: 0.5rem 20px 0px 5px;
    height: 100%;
    padding: 10px 0px 0 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    margin-left: 0.3rem;
    width: 100%;
    border-radius: 1px;
    margin-right: 1.5%;
  }
  #main #body #middle-pane::-webkit-scrollbar {
    width: 0.4rem;
    background-color: white;
    opacity: 50%;
    border-radius: 6px;
  }
  #main #body #middle-pane::-webkit-scrollbar-track {
    border-radius: 6px;
  }
  #main #body #middle-pane::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1rem;
    border-radius: 6px;
  }
  #main #body #middle-pane #card-border {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  #main #body #middle-pane::-webkit-scrollbar {
    width: 0.3rem;
    background-color: white;
    opacity: 50%;
    border-radius: 6px;
  }
  #main #body #middle-pane::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.075);
    outline: 1rem;
    border-radius: 6px;
  }
  #main #body #right-pane {
    width: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0rem;
    align-items: flex-end;
  }
  #main #body #right-pane #write {
    height: 10rem;
    width: 0.7rem;
    font-family: "Roboto";
    font-size: 18px;
    margin-right: 0.5rem;
    overflow: hidden;
    border-radius: 5px;
    resize: none;
    border: 2px solid white;
    background-color: white;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    position: absolute;
    left: 0.5rem;
    top: 26rem;
    border: 2px solid black;
  }
  #main #body #right-pane #write::-moz-placeholder {
    opacity: 0;
  }
  #main #body #right-pane #write:-ms-input-placeholder {
    opacity: 0;
  }
  #main #body #right-pane #write::placeholder {
    opacity: 0;
  }
  #main #body #right-pane #write:focus {
    font-weight: bold;
    width: 15rem;
    position: absolute;
    background-color: white;
    left: 0.5rem;
    top: 26rem;
  }
  #main #body #right-pane #write:focus::-moz-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:focus:-ms-input-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:focus::placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:hover {
    width: 15rem;
    background-color: white;
    position: absolute;
    left: 0.5rem;
    top: 26rem;
    border-color: black;
  }
  #main #body #right-pane #write:hover::-moz-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:hover:-ms-input-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:hover::placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #menu-items {
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 1rem !important;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    margin: 0.5rem 0.5rem 0px 0px;
    gap: 10px;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    left: 0.5rem;
    top: 20rem;
    border: 2px solid black;
  }
  #main #body #right-pane #menu-items:hover {
    width: 15rem;
    position: absolute;
    left: 0.5rem;
    top: 20rem;
    background-color: white;
  }
  #main #body #right-pane #menu-items:hover .menu-buttons {
    width: 80% !important;
    color: white !important;
    transform: translateX(1rem);
  }
  #main #body #right-pane #menu-items:focus {
    width: 15rem;
    position: absolute;
    left: 0.5rem;
    top: 20rem;
    background-color: white;
  }
  #main #body #right-pane #menu-items:focus .menu-buttons {
    width: 80% !important;
    transform: translateX(1rem);
  }
  #main #body #right-pane .menu-buttons {
    height: 2rem;
    width: 0rem;
    border-radius: 15px;
    font-family: "Roboto";
    font-size: 18px;
    border-color: black;
    overflow: hidden;
    background-color: black;
    color: black;
    padding: 0px;
    transform: translateX(2rem);
  }
  #main #body #right-pane .menu-buttons:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border-color: black;
    font-weight: bold;
  }
  #main #body #right-pane #icon-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    width: 1rem;
    justify-content: space-between;
    outline: 1px solid white;
    border-radius: 3px;
    margin-right: 0.6rem;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    position: absolute;
    left: 0.5rem;
    top: 48rem;
    border: 2px solid black;
  }
  #main #body #right-pane #icon-buttons:hover {
    gap: 5px;
    width: 16rem;
    justify-content: space-between;
    border-radius: black;
    position: absolute;
    left: 0.5rem;
    top: 48rem;
    background-color: white;
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:hover .send {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:hover #icon-group {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:focus {
    gap: 5px;
    width: 15.4rem;
    justify-content: space-between;
    border-radius: black;
    position: absolute;
    left: 0.5rem;
    top: 48rem;
    background-color: white;
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:focus .send {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:focus #icon-group {
    opacity: 100%;
  }
  #main #body #right-pane .send {
    width: 50%;
    font-family: "Roboto Condensed";
    margin: 6px 0px 10px 0px;
    font-size: 18px;
    border-color: white;
    color: white;
    background-color: black;
    border-radius: 6px;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    opacity: 0;
  }
  #main #body #right-pane .send:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-color: black;
  }
  #main #body #right-pane .send:hover {
    cursor: pointer;
  }
  #main #body #right-pane .send:focus {
    outline: none;
  }
  #main #body #right-pane .icon-buttons {
    border: none;
    background-color: inherit;
    width: 1.2rem;
    margin-right: 7px;
  }
  #main #body #right-pane .icon-buttons:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  #main #body #right-pane .icon-buttons:focus {
    outline: none;
  }
  #main #body #right-pane #icon-group {
    display: flex;
    flex-direction: row;
    gap: 2px;
    opacity: 0;
  }
}
@media (max-height: 825px) and (max-width: 458px) {
  #main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  #main #header {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem 1rem 0rem;
    height: 5%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    padding-bottom: 10px;
  }
  #main #header #nav-bar {
    padding-right: 1rem;
  }
  #main #header #header-logo {
    padding-left: 1rem;
    height: 2rem;
  }
  #main #header .signOut {
    width: 50%;
    font-family: "Roboto Condensed";
    margin: 6px 0px 10px 0px;
    font-size: 18px;
    border-color: white;
    color: white;
    background-color: black;
    border-radius: 6px;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 0rem;
    background: none;
    color: black;
    border: none;
  }
  #main #header .signOut:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-color: black;
  }
  #main #header .signOut:hover {
    color: red;
    outline: 1px solid red;
  }
  #main #header:hover .signOut {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    opacity: 100%;
  }
  #main #body {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #main #body #left-pane {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: -0.5rem;
  }
  #main #body #left-pane #left-pane-items {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    width: 100%;
    margin-top: 1rem;
    border-radius: 3px;
    height: 1.8rem;
    overflow: hidden;
    padding: 5px;
    align-items: center;
  }
  #main #body #left-pane #left-pane-items #user-avi {
    width: 95%;
    height: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 2px;
  }
  #main #body #left-pane #left-pane-items:hover {
    height: 6rem;
  }
  #main #body #left-pane #left-pane-items:hover #user-avi {
    width: 95%;
    height: 2rem;
    border-radius: 3px;
  }
  #main #body #left-pane #left-pane-items #left-item-one {
    display: flex;
    align-items: center;
    width: 0;
    padding: 2px 0 2px 1rem;
    background-color: white;
    border-radius: 4px;
    margin-top: -2rem;
    height: 0;
  }
  #main #body #left-pane #left-pane-items #left-item-one h4 {
    height: 0;
    width: 0;
    opacity: 0;
  }
  #main #body #left-pane #left-pane-items #left-item-two {
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
    gap: 2rem;
  }
  #main #body #left-pane #left-pane-items #left-item-two span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -0.5rem;
  }
  #main #body #left-pane #left-pane-items #left-item-two span h4 {
    font-size: 22px;
  }
  #main #body #left-pane #left-pane-items #left-item-three {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 7px;
  }
  #main #body #left-pane #left-pane-items #left-item-three span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    margin-left: -0.35rem;
  }
  #main #body #left-pane #left-pane-items #left-item-three span h4 {
    font-size: 20px;
  }
  #main #body #middle-pane {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden scroll;
    margin: 0.5rem 20px 0px 5px;
    height: 100%;
    padding: 10px 0px 0 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    margin-left: 0.7rem;
    width: 100%;
    border-radius: 1px;
    margin-right: 1.5%;
  }
  #main #body #middle-pane::-webkit-scrollbar {
    width: 0.4rem;
    background-color: white;
    opacity: 50%;
    border-radius: 6px;
  }
  #main #body #middle-pane::-webkit-scrollbar-track {
    border-radius: 6px;
  }
  #main #body #middle-pane::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1rem;
    border-radius: 6px;
  }
  #main #body #middle-pane #card-border {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  #main #body #middle-pane::-webkit-scrollbar {
    width: 0.3rem;
    background-color: white;
    opacity: 50%;
    border-radius: 6px;
  }
  #main #body #middle-pane::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.075);
    outline: 1rem;
    border-radius: 6px;
  }
  #main #body #right-pane {
    width: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0rem;
    align-items: flex-end;
  }
  #main #body #right-pane #write {
    height: 10rem;
    width: 0.7rem;
    font-family: "Roboto";
    font-size: 18px;
    margin-right: 0.5rem;
    overflow: hidden;
    border-radius: 5px;
    resize: none;
    border: 2px solid black;
    background-color: white;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    position: absolute;
    left: 0.5rem;
    top: 17rem;
  }
  #main #body #right-pane #write::-moz-placeholder {
    opacity: 0;
  }
  #main #body #right-pane #write:-ms-input-placeholder {
    opacity: 0;
  }
  #main #body #right-pane #write::placeholder {
    opacity: 0;
  }
  #main #body #right-pane #write:focus {
    font-weight: bold;
    width: 15rem;
    position: absolute;
    background-color: white;
    left: 0.5rem;
    top: 17rem;
  }
  #main #body #right-pane #write:focus::-moz-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:focus:-ms-input-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:focus::placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:hover {
    width: 15rem;
    background-color: white;
    position: absolute;
    left: 0.5rem;
    top: 17rem;
    border-color: black;
  }
  #main #body #right-pane #write:hover::-moz-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:hover:-ms-input-placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #write:hover::placeholder {
    opacity: 100%;
  }
  #main #body #right-pane #menu-items {
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 0rem;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    margin: 0.5rem 0.5rem 0px 0px;
    gap: 10px;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    left: 0.5rem;
    top: 12rem;
    border: 2px solid black;
  }
  #main #body #right-pane #menu-items:hover {
    width: 15rem;
    position: absolute;
    left: 0.5rem;
    top: 12rem;
    background-color: white;
  }
  #main #body #right-pane #menu-items:hover .menu-buttons {
    width: 80% !important;
    transform: translateX(1rem);
  }
  #main #body #right-pane #menu-items:focus {
    width: 12rem;
    position: absolute;
    left: 0.5rem;
    top: 10rem;
    background-color: white;
  }
  #main #body #right-pane #menu-items:focus .menu-buttons {
    width: 20%;
    transform: translateX(1rem);
  }
  #main #body #right-pane .menu-buttons {
    height: 2rem;
    width: 0rem;
    border-radius: 15px;
    font-family: "Roboto";
    font-size: 18px;
    border-color: black;
    overflow: hidden;
    background-color: black;
    color: white;
    padding: 0px;
    transform: translateX(2rem);
  }
  #main #body #right-pane .menu-buttons:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border-color: black;
    font-weight: bold;
  }
  #main #body #right-pane #icon-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    width: 1rem;
    justify-content: space-between;
    outline: 1px solid white;
    border-radius: 3px;
    margin-right: 0.6rem;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px #d4d3d3;
    position: absolute;
    left: 0.55rem;
    top: 37rem;
    border: 2px solid black;
  }
  #main #body #right-pane #icon-buttons:hover {
    gap: 5px;
    width: 17rem;
    justify-content: space-between;
    border-radius: black;
    position: absolute;
    left: 0.55rem;
    top: 37rem;
    background-color: white;
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:hover .send {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:hover #icon-group {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:focus {
    gap: 5px;
    width: 15.4rem;
    justify-content: space-between;
    border-radius: black;
    position: absolute;
    left: 0.55rem;
    top: 37rem;
    background-color: white;
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:focus .send {
    opacity: 100%;
  }
  #main #body #right-pane #icon-buttons:focus #icon-group {
    opacity: 100%;
  }
  #main #body #right-pane .send {
    width: 50%;
    font-family: "Roboto Condensed";
    margin: 6px 0px 10px 0px;
    font-size: 18px;
    border-color: white;
    color: white;
    background-color: black;
    border-radius: 6px;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    opacity: 0;
  }
  #main #body #right-pane .send:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-color: black;
  }
  #main #body #right-pane .send:hover {
    cursor: pointer;
  }
  #main #body #right-pane .send:focus {
    outline: none;
  }
  #main #body #right-pane .icon-buttons {
    border: none;
    background-color: inherit;
    width: 1.2rem;
    margin-right: 7px;
  }
  #main #body #right-pane .icon-buttons:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  #main #body #right-pane .icon-buttons:focus {
    outline: none;
  }
  #main #body #right-pane #icon-group {
    display: flex;
    flex-direction: row;
    gap: 2px;
    opacity: 0;
  }
}
#popularity::after {
  content: "%";
}/*# sourceMappingURL=Homepage.css.map */